* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', 'Arial', sans-serif;
  color: #ffffff;
}

body {
  background-color: #ecedee;
}

@import "menu";